{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="section-1" style="background-image: url('{% static "images/person_with_task.png" %}');">
            <div class="text-box">
                <h1>Shape Every Move.
                    Start Now.
                </h1>
            </div>
        </div>

        <div class="section-2">
            <div class="todo-box">
              <div class="add-todo">
                <a class="add-button task-content" href="{% url 'task-list' %}">&#8592; Back</a>
              </div>
              <div class="todo-list">
                <span class="task-content">{{ task.content }}</span>
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
