{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="section-1" style="background-image: url('{% static "images/person_with_task.png" %}');">
            <div class="text-box">
                <h1>Shape Every Move.
                    Start Now.
                </h1>
            </div>
        </div>

        <div class="section-2">
            <div class="todo-box">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="add-todo">
                        {{ form.content }}
                        <button type="submit" class="add-button">
                            Done
                        </button>
                    </div>
                    {% if not is_create %}
                        <div class="todo-list">
                            {{ form.is_completed }}
                            <span class="task-content">{{ form.is_completed.label_tag }}</span>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
